
#deltext {
    margin-top: 15px;
}

#bref {

    margin-top: 10px;
    margin-bottom: -12px;
    margin-left: 65px;
    width: 300px;
}

/* стили кнопки "Рефирировать"*/
#sbmt {
    background-color: #EEEEEE;
    margin-top: 15px;
    margin-bottom: 20px;
}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

#loading-image {
    position: absolute;
    margin-left: 220px;
    top: 100px;
    left: 240px;
    z-index: 50;
}

#loadtext{
    width: 652.5px;
    height: 474px;
    top:370px;
    left: 255px;
    position:fixed;
    display: block;
    opacity: 0.6;
    background-color: #fff;
    z-index: 50;
    text-align: center;
}

#loadtext img{
    position:absolute;
    top:20px;
    left: 200px;
    z-index: 10;
}