body
	{
		
		background-color: #97d697;
	}
.container
	{
		background-color: RGBA(255,255,255,0.9) ;
	}
.navbar-fixed-top
	{
	background-color: #97d697; 
	border:0px;
	}
.navbar-right
	{
	margin-right: 0px;
	}
#featured-wrapper2
	{
	background: #97d697; 
	border-top: 0px;
	padding:1em 0em;
	}
#result-ref
	{
	padding-top: 20px;
	}
#logo 
	{
	
	align: center;
	}
#page
	{
	
	}